.home {
  background-image: url('../images/homebackground.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin-top: -15px;
}

.hit-the-floor {
  text-align: center;
  color: #fff;
  font-size: 5em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.text {
  color: white;
}
#body {
  background-color: black;
}

.sidebar {
  float: left;
  opacity: 0.9;
  position: relative;
  background-color: white;
  width: 25%;
  height: auto;
  color: black;
}

.search-bar {
  opacity: 0.9;
  background-color: rgba(113, 174, 192, 0.534);
}

.searchlist {
  /* color: white; */
  background-color: rgba(113, 174, 192, 0.534);
  float: right;
  opacity: 0.9;
  position: relative;
  width: 25%;
  height: auto;
}

.card-body {
  background-color: rgba(113, 174, 192, 0.534);
}

.youtube {
  background-color: rgba(113, 174, 192, 0.534);
  /* background-image: url('../images/Waiting.jpg'); */
  background-size: cover;
  background-position: center;
  /* opacity: 0.8; */
  width: 50%;
  height: 75vh;
  display: inline-block;
}
