.host {
    background-image: url('http://www.desktopimages.org/preview/get_photo/225299/1920/1080');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.things {
    color: green;
}